.playground {
  display: grid;
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-items: stretch;
  margin-top: 20px;
}

.playground-cell {
  cursor: pointer;
  text-align: center;
  border: 1px #ddd solid;
  padding: 10px
}
